{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="" href="{% static 'blog/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

    {% if title %}
        <title>Django Blog - {{ title }}</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <div class="left">
            <div class="logo">
                
            </div>

            <div class="search_bar">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="search" class="">
            </div>
          </div>

          <div class="center d-md-block d-none">
              <a href="{% url 'blog-home' %}"><i class="fas fa-home"></i></a>
              <i class="fas fa-tv"></i>
              <i class="fas fa-store"></i>
              <i class="fas fa-users"></i>
          </div>

          <div class="right">
              <i class="fas fa-list-ul"></i>
              <i class="fab fa-facebook-messenger"></i>
              <i class="fas fa-bell"></i>
              <div class="profile-container">
                <img src="{{ user.profile.image.url }}" alt="img" class="profile-image">
                <div class="dropdown-menu">
                  <a href="{% url 'post-create' %}"><div style="display: flex;">
                    <i class="fa-solid fa-plus" style="background-color: #f9f9f9;"></i>
                    New post
                  </div></a>
                  <a href="{% url 'profile' %}"><div style="display: flex;">
                    <i class="fa-solid fa-user" style="background-color: #f9f9f9;"></i>
                    Profile
                  </div></a>
                  <a href="{% url 'logout' %}"><div style="display: flex;">
                    <i class="fa-solid fa-right-from-bracket" style="background-color: #f9f9f9;"></i>
                    Logout
                  </div></a>
                </div>
              </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
             {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
             {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>